.choose-heaing-container {

    text-align: center;
}

.choose-heading {
    color: #2F2F2F;
    margin-right: 10px;
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 600;
    line-height: 70px;
    letter-spacing: 0em;
    text-align: center;

}

.choose-card-body {
    padding-left: 40px;
    padding-top: 15px;
}

.choose-heading span {
    color: #138ED1;
    margin-right: 10px;
}

.choose-heading-img-container {

    margin-left: 120px;
    margin-top: -20px;
}

.choose-heading-img {
    max-width: 100%;
    height: auto;
    width: 209px;
    height: 17px;
    border: 2px;
}

.choose-heaing-container .sub-para {
    width: 729px;
    height: 80px;

    margin-top: 24px;
}


.choose-heaing-container .sub-para p {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    color: #6E6E6E;


}


.choose-card {
    width: 373px;
    height: auto;
    border-radius: 33px;
    background: #FFF;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
    margin: 10px;
}

.choose-img {
    position: relative;
    top: -55px;
    right: 10px;
}

.choose-card-title {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    width: 258px;

}

.choose-card-text {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

}

.dropdown-card {
    width: auto;
    height: auto;
    border-radius: 38.5px;
    background: #FFF;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);


}

.dropdown-card ul li img {
    width: auto;
    height: auto;
    border-radius: 40px;
    border: 3px solid #FFF;
    background-size: cover;
    background-repeat: no-repeat;

}

.dropdown-card ul li span {


    color: #2F2F2F;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
}

.dropdown-card p {
    width: auto;
    height: 72px;
    top: 2481px;
    left: 88px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;

}

.women-img {

    width: 194%;
    height: 100%;
    margin-left: -250px;


}
.choose-bgcontainer
{
    background-image: url('https://res.cloudinary.com/dei8sqhcu/image/upload/v1695303108/Rectangle_82_1_eftfe0.png');
    background-size: cover;
}
.choose-bglarge-container
{
    background-image: url('https://res.cloudinary.com/dei8sqhcu/image/upload/v1695310582/Untitled-1fff_qybif5.png');
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
}
@media all and (max-width:768px) {


    .choose-heaing-container {

        text-align: center;
    }

    .choose-heading {
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 600;
        line-height: 35px;
        letter-spacing: 0em;
        color: #333333;
        text-align: center;

    }

    .choose-heading span {
        color: #138ED1;
    }

    .choose-heading-img {
        width: 91px;
        height: 8px;
        margin-right: 100px;
    }

    .choose-heaing-container .sub-para {
        width: 312px;
        height: 30px;
        margin-top: 10px;

    }


    .choose-heaing-container .sub-para p {
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 500;
        line-height: 15px;
        letter-spacing: 0em;
        text-align: center;
        color: #6E6E6E;

    }

}